**Simple pandas notebook**

In [2]:
#!pip install pandas
import pandas as pd

In [14]:
#read your csv file and display the first 5 rows
fight_data = pd.read_csv('Fights.csv')
fight_data.head(5)

,Fighter_1,Fighter_2,KD_1,KD_2,STR_1,STR_2,TD_1,TD_2,SUB_1,SUB_2,...,Leg_%_1,Leg_%_2,Distance_%_1,Distance_%_2,Clinch_%_1,Clinch_%_2,Ground_%_1,Ground_%_2,Total Str._%_1,Total Str._%_2
0,Johnny Walker,Zhang Mingyang,1,0,50,20,0,0,0,0,...,1.00,1.00,0.58,0.38,0.50,0.67,0.89,0.50,0.73,0.47
1,Aljamain Sterling,Brian Ortega,0,0,124,55,3,0,0,0,...,0.71,1.00,0.31,0.51,0.00,1.00,1.00,0.77,0.44,0.58
2,Sergei Pavlovich,Waldo Cortes-Acosta,0,0,61,45,0,0,0,0,...,0.93,0.74,0.46,0.39,0.50,0.00,0.00,0.00,0.46,0.38
3,Sumudaerji,Kevin Borjas,0,0,73,16,0,0,0,0,...,0.79,0.57,0.55,0.27,0.75,0.86,0.00,0.00,0.61,0.45
4,Taiyilake Nueraji,Kiefer Crosbie,0,0,27,2,1,0,0,0,...,0.00,0.00,0.67,0.67,0.00,0.00,0.71,0.00,0.74,0.92

In [11]:
fight_data
fight_data.columns

Index(['Fighter_1', 'Fighter_2', 'KD_1', 'KD_2', 'STR_1', 'STR_2', 'TD_1',
       'TD_2', 'SUB_1', 'SUB_2', 'Weight_Class', 'Method', 'Round',
       'Fight_Time', 'Event_Id', 'Result_1', 'Result_2', 'Time Format',
       'Referee', 'Method Details', 'Sig. Str._1', 'Sig. Str._2',
       'Sig. Str. %_1', 'Sig. Str. %_2', 'Sub. Att_1', 'Sub. Att_2', 'Rev._1',
       'Rev._2', 'Ctrl_1', 'Ctrl_2', 'Head_%_1', 'Head_%_2', 'Body_%_1',
       'Body_%_2', 'Leg_%_1', 'Leg_%_2', 'Distance_%_1', 'Distance_%_2',
       'Clinch_%_1', 'Clinch_%_2', 'Ground_%_1', 'Ground_%_2',
       'Total Str._%_1', 'Total Str._%_2'],
      dtype='object')

In [18]:
#Find the number of unique fighters in the datase
fighter_1 = fight_data['Fighter_1']
fighter_2 = fight_data['Fighter_2']
all_fighters = pd.concat([fighter_1, fighter_2])
number_unique_fighters = all_fighters.unique()
len(number_unique_fighters)

2589

In [47]:
#Find the fighter with the most sinificant strikes in the dataset

# first assaign variable to significant strikes 1 and sig strikes 2
strikes_f1 = fight_data[['Fighter_1','STR_1']]
strikes_f1 = strikes_f1.rename(columns={'Fighter_1':'Fighter','STR_1':'STR'})
strikes_f2 = fight_data[['Fighter_2','STR_2']]  
strikes_f2 = strikes_f2.rename(columns={'Fighter_2':'Fighter','STR_2':'STR'})
#combine both columns 
sig_strikes_combined = pd.concat([strikes_f1, strikes_f2], ignore_index=True)

#look for max value
most_sig_strikes = sig_strikes_combined['STR'].idxmax() 
print(sig_strikes_combined.loc[most_sig_strikes])

#find fighter

Fighter    Max Holloway
STR                 445
Name: 2397, dtype: object

In [33]:
sig_strikes_combined

                Fighter  STR
0         Johnny Walker   50
1     Aljamain Sterling  124
2      Sergei Pavlovich   61
3            Sumudaerji   73
4     Taiyilake Nueraji   27
...                 ...  ...
8298   Robert Lucarelli    2
8299    Thaddeus Luster    0
8300      David Levicki    4
8301         Ray Wizard    1
8302     Sean Daugherty    0

[16606 rows x 2 columns]

In [ ]:
#Find the fighter with the most Takedowns in the dataset 

td_f1 = fight_data[['Fighter_1','TD_1']]
td_f1 = td_f1.rename(columns={'Fighter_1':'Fighter','TD_1':'Takedowns'})
td_f2 = fight_data[['Fighter_2','TD_2']]
td_f2 = td_f2.rename(columns={'Fighter_2':'Fighter','TD_2':'Takedowns'})
#combine both columns 
td_combined = pd.concat([td_f1, td_f2], ignore_index=True)

#look for max value
td_most = td_combined['Takedowns'].idxmax()
print(td_combined.loc[td_most])


#find fighter

6020
Fighter      Khabib Nurmagomedov
Takedowns                     21
Name: 6020, dtype: object